body {
    flex-direction: column;
    align-content: space-between;
}

main {
    max-height: 70vh;
    overflow: scroll;
}

header {
    max-height: 20vh;
}

footer {
    max-height: 10vh;
    box-sizing: border-box;
}

#selectState {
    max-height: 30vh;
    overflow: scroll;
}

#footerTGIF {
    height: 56px;
    line-height: 3;
    font-size: large;
    background-color: gainsboro;
}

#content-title {
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 15px;
}

#content1 {
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 15px;
}

#content2 {
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 15px;
}